.dark {
  border-top: 4px solid $gold;
  background-color: $black;
  font-family: "lato", sans-serif;
}

@media (max-width: 579px) {
  .l-splash {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 580px) {
  .l-splash {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
  }
}

.logo {
  margin-top: 80px;
  width: 100%;
  max-width: 600px;
}

.heading {
  margin-top: 80px;
  margin-bottom: 30px;
  max-width: 300px;
  font-size: 32px;
  font-weight: 900;
  color: $gold;
}

.desc {
  margin-bottom: 30px;
  max-width: 460px;
  font-size: 20px;
  line-height: 1.5;
  color: $white;
}

.infos {
  margin-bottom: 30px;
}

.info {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
}

.info__key {
  text-transform: uppercase;
  color: $gold;
}

.info__value {
  color: $gray;
}

a.info__value {
  text-decoration: none;
}

.socials {
  margin-bottom: 80px;
}

.social--twitter, .social--facebook, .social--instagram {
  margin-right: 12px;
  display: inline-block;
  height: 32px;
  width: 32px;
  @extend %box-sizing;
  border-radius: 16px;
  background-color: $white;
  @include transition-duration(.25s);
  @include transition-property(background-color);
}

.social--twitter:hover, .social--facebook:hover, .social--instagram:hover {
  background-color: $gold;
}

.social--twitter, .social--instagram {
  padding-top: 8px;
  text-align: center;
}

.social--facebook {
  padding-top: 4px;
  padding-left: 4px;
}
