b {
  font-weight: bold;
}

.t-text {
  margin-bottom: 32px;
  font-size: 16px;
  font-family: $merriweather;
  line-height: 2;
}

.t-link {
  font-style: italic;
  text-decoration: none;
  @include transition-duration(.25s);
  @include transition-property(opacity);
  &:hover {
    opacity: .6;
  }
}

.t-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.t-gold {
  color: $gold;
}

.t-medium-gray {
  color: $medium-gray;
}
