@charset "UTF-8";
.social--twitter,
.social--facebook,
.social--instagram {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.l-col,
.l-colspan {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style-type: none; }

@font-face {
  font-family: 'Edmondsans';
  src: url("../../public/fonts/edmondsans-regular-webfont.eot");
  src: url("../../public/fonts/edmondsans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/edmondsans-regular-webfont.woff2") format("woff2"), url("../../public/fonts/edmondsans-regular-webfont.woff") format("woff"), url("../../public/fonts/edmondsans-regular-webfont.ttf") format("truetype"), url("../../public/fonts/edmondsans-regular-webfont.svg#edmondsansregular") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Edmondsans';
  src: url("../../public/fonts/edmondsans-medium-webfont.eot");
  src: url("../../public/fonts/edmondsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/edmondsans-medium-webfont.woff2") format("woff2"), url("../../public/fonts/edmondsans-medium-webfont.woff") format("woff"), url("../../public/fonts/edmondsans-medium-webfont.ttf") format("truetype"), url("../../public/fonts/edmondsans-medium-webfont.svg#edmondsansmedium") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Edmondsans';
  src: url("../../public/fonts/edmondsans-bold-webfont.eot");
  src: url("../../public/fonts/edmondsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/edmondsans-bold-webfont.woff2") format("woff2"), url("../../public/fonts/edmondsans-bold-webfont.woff") format("woff"), url("../../public/fonts/edmondsans-bold-webfont.ttf") format("truetype"), url("../../public/fonts/edmondsans-bold-webfont.svg#edmondsansbold") format("svg");
  font-weight: 600;
  font-style: normal; }

.l-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
  width: 90%; }

.l-auto {
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: auto; }

@media (min-width: 910px) {
  .l-col,
  .l-colspan {
    float: left; } }

@media (min-width: 910px) {
  .l-col {
    padding-right: 60px;
    padding-left: 5%;
    width: 38.5%; } }

@media (min-width: 910px) {
  .l-colspan {
    padding-right: 5%;
    padding-left: 64px;
    width: 61.5%;
    border-left: 2px solid #cba742; } }

b {
  font-weight: bold; }

.t-text {
  margin-bottom: 32px;
  font-size: 16px;
  font-family: "Merriweather", serif;
  line-height: 2; }

.t-link {
  font-style: italic;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }
  .t-link:hover {
    opacity: .6; }

.t-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.t-gold {
  color: #d6ba6a; }

.t-medium-gray {
  color: #9f9c9c; }

.footer {
  position: relative;
  background-color: #161616;
  z-index: 2; }
  @media (max-width: 909px) {
    .footer {
      padding-right: 10%;
      padding-left: 10%; } }

.hours__heading,
.contacts__heading {
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 300;
  font-family: "Edmondsans", sans-serif;
  text-transform: uppercase;
  color: #8c8c8e;
  letter-spacing: 5px; }

@media (min-width: 910px) {
  .hours__heading {
    padding-top: 48px;
    float: right;
    clear: right; } }

.contacts__heading {
  padding-top: 48px; }

.hours {
  margin-bottom: 14px;
  font-size: 14px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  color: white; }
  @media (min-width: 910px) {
    .hours {
      float: right;
      clear: right; } }

.contact {
  margin-bottom: 10px;
  padding-left: 14px;
  float: left;
  clear: left;
  font-size: 18px;
  font-weight: 600;
  font-family: "Edmondsans", sans-serif;
  text-decoration: none;
  color: white;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  .contact:hover {
    color: #d6ba6a; }
  .contact:before {
    content: ">";
    display: inline-block;
    position: relative;
    left: -8px;
    text-indent: -6px;
    cursor: default; }

.socials {
  margin-top: 22px;
  margin-bottom: 64px;
  float: left;
  clear: left; }

.social--twitter,
.social--facebook,
.social--instagram {
  margin-right: 12px;
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: white;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color; }
  .social--twitter:hover,
  .social--facebook:hover,
  .social--instagram:hover {
    background-color: #d6ba6a; }

.social--twitter,
.social--instagram {
  padding-top: 8px;
  text-align: center; }

.social--facebook {
  padding-top: 4px;
  padding-left: 4px; }

.header {
  position: relative;
  background-color: #161616;
  text-align: center; }
  @media (min-width: 850px) {
    .header {
      height: 100vh;
      background-image: url("../../public/sky.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed; } }

.hero {
  margin-right: auto;
  margin-left: auto;
  width: 80%; }
  @media (max-width: 849px) {
    .hero {
      padding-top: 80px;
      padding-bottom: 120px; } }
  @media (min-width: 850px) {
    .hero {
      height: 300px;
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }

.hero__logo {
  width: 100%; }

.hero__desc {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  color: #9f9c9c; }

.nav {
  bottom: 0;
  width: 100%;
  box-shadow: 0px 6px 0px 0px #cba742;
  background-color: #d6ba6a;
  z-index: 3; }
  @media (min-width: 850px) {
    .nav {
      position: absolute; } }

.nav__link {
  font-size: 14px;
  font-weight: 500;
  font-family: "Edmondsans", sans-serif;
  line-height: 72px;
  text-transform: uppercase;
  text-decoration: none;
  color: #161616;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  @media (max-width: 849px) {
    .nav__link {
      display: block;
      border-bottom: 1px solid #cba742; } }
  @media (min-width: 850px) and (max-width: 959px) {
    .nav__link:not(:first-child) {
      margin-left: 40px; } }
  @media (min-width: 960px) {
    .nav__link:not(:first-child) {
      margin-left: 60px; } }
  .nav__link:hover {
    color: white; }
    .nav__link:hover svg {
      fill: white; }
  @media (max-width: 849px) {
    .nav__link.is-active {
      color: white; } }
  @media (min-width: 850px) {
    .nav__link.is-active {
      position: relative; }
      .nav__link.is-active:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -42px;
        left: 50%;
        left: calc(50% - 10px);
        border-width: 10px 10px 0;
        border-style: solid;
        border-color: #cba742 transparent; } }

.nav__link__phone {
  position: relative;
  top: 4px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: fill;
  -moz-transition-property: fill;
  -ms-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill; }

@media (max-width: 909px) {
  .menu__links {
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
    padding-left: 5%;
    overflow: auto;
    border-bottom: 2px solid #cba742; } }
@media (min-width: 910px) {
  .menu__links {
    padding-top: 48px; } }

.menu__link {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  font-family: "Edmondsans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #d9d9d9;
  letter-spacing: 5px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  @media (max-width: 909px) {
    .menu__link {
      float: left;
      clear: left; } }
  @media (min-width: 910px) {
    .menu__link {
      float: right;
      clear: right; } }
  .menu__link:hover {
    color: #d6ba6a; }
  .menu__link.is-active {
    color: #8c8c8e; }

.menu__lists-wrap {
  padding-top: 53px; }
  @media (max-width: 909px) {
    .menu__lists-wrap {
      padding-right: 10%;
      padding-left: 10%; } }

.menu__heading {
  margin-bottom: 32px;
  font-weight: 300;
  font-family: "Merriweather", serif;
  font-style: italic;
  text-transform: uppercase;
  color: #d9d9d9; }

.menu__list {
  margin-bottom: 100px;
  color: #161616; }

.menu__item {
  margin-bottom: 32px; }

.menu__item__heading {
  font-size: 18px;
  font-family: "Edmondsans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

.menu__item__advisory {
  font-weight: 400;
  text-decoration: none;
  color: #d6ba6a; }

.menu__item__price {
  margin-left: 8px;
  text-transform: lowercase; }

.menu__item__desc {
  margin-top: 4px;
  font-size: 14px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6; }

.advisories {
  padding-top: 48px;
  margin-bottom: 48px;
  max-width: 400px; }

.advisory {
  margin-bottom: 24px;
  font-size: 14px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  color: #d9d9d9;
  line-height: 1.6; }

.moonshiners {
  padding-top: 90px;
  text-align: center;
  width: 90%;
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 45px;
  border-bottom: 2px solid #cba742;
  margin-bottom: 45px; }
  @media (max-width: 699px) {
    .moonshiners {
      overflow: auto; } }

.moonshiner {
  text-decoration: none;
  text-align: center;
  color: #d9d9d9;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  .moonshiner:hover {
    color: #d6ba6a; }
  .moonshiner.is-active {
    color: #8c8c8e; }
  @media (max-width: 699px) {
    .moonshiner {
      display: block;
      float: left;
      width: 50%; }
      .moonshiner:nth-child(1), .moonshiner:nth-child(2) {
        margin-bottom: 45px; } }
  @media (min-width: 700px) {
    .moonshiner {
      display: inline-block; }
      .moonshiner:not(:last-child) {
        margin-right: 10%; } }

.moonshiner__heading {
  font-size: 18px;
  font-family: "Edmondsans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

.moonshiner__desc {
  margin-top: 4px;
  font-size: 14px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6; }

.bio {
  margin-right: auto;
  margin-bottom: 148px;
  margin-left: auto;
  width: 80%;
  max-width: 600px; }

.callout-wrap {
  background-color: #d6ba6a; }

.callout {
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 640px;
  width: 90%;
  font-size: 24px;
  font-family: "Edmondsans", sans-serif;
  line-height: 1.6;
  text-align: center;
  color: white; }

.press__lists {
  margin: 90px auto 148px;
  width: 80%;
  max-width: 600px; }

.press__item {
  margin-bottom: 48px; }

.press__heading {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 32px;
  font-family: "Edmondsans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

.press__date {
  font-weight: 300;
  text-transform: none; }

.is-hidden {
  position: absolute;
  left: -9999px;
  text-indent: -9999px; }

.has-arrow:after {
  content: " →";
  font-family: "Arial", sans-serif;
  font-style: normal; }
