:root {
  --color__black: #161616;
  --color__white: #ffffff;
  --color__gray: #9f9c9c;
    --color__gray--light: #d9d9d9;
    --color__gray--dark: #8c8c8e;
  --color__gold: #d6ba6a;
    --color__gold--dark: #cba742;

  --font-family__sans: "Edmondsans", sans-serif;
  --font-family__serif: "Merriweather", serif;
}
