.t-main p,
.t-text {
  margin-bottom: 32px;
  font-size: 16px;
  font-family: var(--font-family__serif);
  line-height: 2;
}

.t-link {
  font-style: italic;
  text-decoration: none;
  transition-duration: .25s;
  transition-property: opacity;
}
.t-link:hover {
  opacity: .6;
}

.t-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.t-gold {
  color: var(--color__gold);
}

.t-medium-gray {
  color: var(--color__gray);
}

.has-arrow::after {
  content: "→";
  margin-left: 5px;
  font-family: Arial, sans-serif;
  font-style: normal;
}
